*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.current-time{
    font-family: 'VT323', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
}